name: Release

on:
  push:
    tags:
      - '\@ginjou/*\@[0-9]+\.[0-9]+\.[0-9]+*'

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    concurrency:
      group: npm-publish
      cancel-in-progress: false
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: aa900031/github-actions/setup-node@main

      - name: Build packages
        run: pnpm run build:pkgs

      - name: Update npm
        run: npm install -g npm@latest

      - name: Publish to npm
        run: pnpm -r publish --access public --no-git-checks
